<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="your,keywords,goes,here" />
    <meta name="author" content="Your Name" />
    <title>Aaron S. Wolf</title>
</head>
<body> -->

    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css" title="andreas08" media="screen,projection" /> -->

<div id="container" >
    <div id="header">
        <h1>aswolf LabBook</h1>
        <h2>email: aswolf _at_ umich _dot_ edu</h2>
    </div>

    <div id="navigation">
        <ul>
            <li><a href="index.html">Index</a></li>

            <li><a href="projects.html">Projects</a></li>

            <!-- <li><a href="https://docs.google.com/spreadsheets/d/18hnjkcF4LSEzdFdd0fABXo3-bmSWMSfJb9io6kKTDGw/edit#gid=0">Daily-Tracker</a></li> -->
            <li><a href="writing-tracker.html">Daily-Tracker</a></li>


            <li><a href="writing-workshop.html">Writing-Workshop</a></li>

            <li><a href="https://aswolf.github.io">Webpage</a></li>
        </ul>
    </div>

    <div class="content">
